<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" name="email" [(ngModel)]="email" required email
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">

        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            <small class="error text-danger" *ngIf="loginForm.controls['email'].errors?.['required']">Email is
                required.</small>
            <small class="error text-danger" *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email
                format.</small>
            <small class="error text-danger" *ngIf="loginForm.controls['email'].errors?.['pattern']">Invalid email
                format
                (pattern).</small>
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
            [(ngModel)]="passwordModel" required minlength="6">
            
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            <small class="error text-danger" *ngIf="loginForm.controls['password'].errors?.['required']">password is
                required.</small>
            <small class="error text-danger" *ngIf="loginForm.controls['password'].errors?.['minlength']">password
                should be at least 6 characters.</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="passwordModel == null || passwordModel.length < 6">Submit</button>
</form>